.testing-1 {
    border: 20px solid;
    border-image: linear-gradient(290deg, rgb(5, 61, 13), rgb(5, 61, 13), rgb(187, 233, 183), rgb(187, 233, 183)) 100;
}
.testing-2 {
    border: 20px solid;
    border-image: linear-gradient(290deg, rgb(85, 182, 99), rgb(85, 182, 99), rgb(5, 61, 13), rgb(5, 61, 13)) 100;
}
.testing-3 {
    border: 20px solid;
    border-image: linear-gradient(290deg, rgb(187, 233, 183), rgb(187, 233, 183), rgb(85, 182, 99), rgb(85, 182, 99)) 100;
}